<?xml version="1.0" encoding="gb2312" ?>
<RewriterConfig>
  <Rules>
    <RewriterRule>
      <LookFor>~/about/index-(.[0-9]*)\.aspx</LookFor>
      <SendTo>~/about/index.aspx?id=$1</SendTo>
    </RewriterRule>
	<RewriterRule>
		  <LookFor>~/services/index-(.[0-9]*)\.aspx</LookFor>
		  <SendTo>~/services/index.aspx?id=$1</SendTo>
	</RewriterRule>
	  <RewriterRule>
		  <LookFor>~/contact/index-(.[0-9]*)\.aspx</LookFor>
		  <SendTo>~/contact/index.aspx?id=$1</SendTo>
	  </RewriterRule>
	  <RewriterRule>
		  <LookFor>~/payment/index-(.[0-9]*)\.aspx</LookFor>
		  <SendTo>~/payment/index.aspx?id=$1</SendTo>
	  </RewriterRule>
	  <RewriterRule>
		  <LookFor>~/translation/newlist-(.[0-9]*)\.aspx</LookFor>
		  <SendTo>~/translation/newlist.aspx?parentid=$1</SendTo>
	  </RewriterRule>
    <RewriterRule>
      <LookFor>~/translation/newsinfo-(.[0-9]*)\.aspx</LookFor>
      <SendTo>~/translation/newsinfo.aspx?id=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/actual/index-(.[0-9]*)\.aspx</LookFor>
      <SendTo>~/actual/index.aspx?guoclassid=$1</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>~/translation/index-(.[0-9]*)\.aspx</LookFor>
      <SendTo>~/translation/index.aspx?typeid=$1</SendTo>
    </RewriterRule>
	  <RewriterRule>
		  <LookFor>~/translation/transzone-(.[0-9]*)\.aspx</LookFor>
		  <SendTo>~/translation/transzone.aspx?id=$1</SendTo>
	  </RewriterRule>

    <RewriterRule>
      <LookFor>~/translationteam/index-(.[0-9]*)\.aspx</LookFor>
      <SendTo>~/translationteam/index.aspx?typeid=$1</SendTo>
    </RewriterRule>
    


  </Rules>
</RewriterConfig>