<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
  </configSections>
  <appSettings>
    <!--编辑器路径-->
    <add key="FCKeditor:BasePath" value="~/liuuyuuy/"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接字符-->
    <add name="ConnStr" connectionString="~/mydatazw/#mydatazw.mdb"/>
  </connectionStrings>
  <RewriterConfig configSource="reurl.config"/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="404.html"/>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	<httpRuntime requestValidationMode="2.0" />
    <httpHandlers>
      <add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter"/>
      <remove verb="POST,GET" path="Upload.axd"/>
      <add verb="POST,GET" path="Upload.axd" type="Upload"/>
      <remove verb="POST,GET" path="Upload2.axd"/>
      <add verb="POST,GET" path="Upload2.axd" type="Upload2"/>
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="WWW Redirect" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^translations.com.tw$"/>
          </conditions>
          <action type="Redirect" url="http://translations.com.tw/{R:0}" redirectType="Permanent"/>
        </rule>
        <!--<rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>-->
        <rule name="匯入的規則 4" stopProcessing="true">
          <match url="^translationnews/art-(.*).html"/>
          <action type="Rewrite" url="/translationnews/art.aspx?id={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="匯入的規則 6" stopProcessing="true">
          <match url="^translationnews/index-(.*)-(.*).html"/>
          <action type="Rewrite" url="/translationnews/index.aspx?cid={R:1}&amp;page={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="匯入的規則 5" stopProcessing="true">
          <match url="^translationnews/index-(.*).html"/>
          <action type="Rewrite" url="/translationnews/index.aspx?cid={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="匯入的規則 1" stopProcessing="true">
          <match url="^translationnews/index.html"/>
          <action type="Rewrite" url="/translationnews/index.aspx" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="403" subStatusCode="-1"/>
      <error statusCode="403" prefixLanguageFilePath="" path="https://www.translations.com.tw" responseMode="Redirect"/>
    </httpErrors>
  </system.webServer>
</configuration>