/*
---------------------------------
//General
---------------------------------
*/

body 
{
	text-align: center;
	font: 12px Arial, sans-serif;
	line-height: 15px;
	background: #1a1a1a url('../images/bg.png') repeat-x;
}

a {color:#4479b9; text-decoration:underline; }

a:hover { text-decoration:none; }

p { line-height:22px; margin-bottom: 10px; color:#dfdfdf; }

h1{
	color:#cccccc;
	font-size:18px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
	line-height:60px;
	font-weight:lighter;
}

h2{
	color:#4479b9;
	margin-top:10px;
	font-size:25px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
	margin-bottom:20px;
}

h3{
	color:#4479b9;
	margin-top:10px;
	font-size:22px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
	margin-bottom:20px;
}

h4{
	color:#4479b9;
	margin-top:10px;
	font-size:18px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
	margin-bottom:20px;
}

h5{
	color:#4479b9;
	margin-top:10px;
	font-size:16px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
	margin-bottom:20px;
}

h6{
	color:#4479b9;
	margin-top:10px;
	font-size:14px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
	margin-bottom:20px;
}

dl { margin-left:20px; margin-bottom:20px;}

dt { font-weight:bold; color:#333333;}

dl { color:#828282; }

ul { 
	list-style:circle; 
	list-style-position:inside; 
}

ol { 
	list-style: decimal; 
	margin-left:50px; 
	list-style-position:inside; 
	margin-bottom:20px;
	color:#828282;
}

legend {
	color:#4479b9;
	padding:0px 10px 0px 10px;
	margin-bottom: 10px;
	margin-top:20px;
	font-size:14px;
	margin-left:-26px;
}

fieldset {
	padding:10px 30px 20px 40px;
	margin-bottom:20px;
	border:1px solid #cccccc;
}

form p {margin-bottom:15px;}
label { float:left; width: 120px;}
label.error { float: none; color: red; margin-left: 120px; vertical-align: top; }

	/* Input classes */
	
	.text_field, .file, .password {
		height: 20px;
		width:230px; 
		border:1px solid #494a49;
		background:#292929;
		padding:4px 0px 0px 5px;
		font-size:12px;
		font-family: Arial, Helvetica, sans-serif;
		margin-right:10px;
		color:#828282;
	}
	
	.text_area {
		border:1px solid #494a49;
		background:#292929;
		width:230px; 
		padding:4px 0px 0px 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#828282;
	}
	
	.radio, .checkbox { margin-top:5px; }
	.text_field:focus, .file:focus, .password:focus, .text_area:focus { border: 1px solid #999999; }
	input.error, textarea.error { border: 1px dotted red; }
	
	.button {
		background:url(../images/button_bg.png) no-repeat 0 0px;
		border:0px;
		height:40px;
		width:100px;
		cursor:pointer;
		color:#f1f1f1;
		padding:0;	
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
	}
	
	.button:hover { background:url(../images/button_bg.png) no-repeat 0 -40px; }
	.button_margin { margin-left:120px; }

blockquote {
	margin-left:20px;
	border-left:4px solid #4479b9; 
	margin-bottom: 20px;
	color:#666666;
	line-height:20px;
	padding-left:5px;
	font-style:italic;
}

pre {
	margin-left: 50px;
	background-color:#f1f1f1;
	border-top:1px solid #cccccc;
	padding:10px;
	margin-bottom:20px;
	color:#333333;
}

hr {
	color:#e1e1e1;
	margin: 10px 0px 10px 0px;
}

table {margin-bottom: 20px;}

tr{}

th { 
	padding: 5px 10px 5px 10px; 
	text-align:left; 
	color:#fff;
}

td{
	padding:5px 10px 5px 10px;
	text-align:left;
}

/* COMMEN USED CLASSES */

.more {text-align: right; font-weight:bolder;}

.ar {text-align:right;}

.al {text-align:left;}

.ac {text-align:center;}

.fl {float:left; width:960px;
}

.fr {float:right;}

.clear {clear: both;}

.italic {font-style:italic;}

.bold {font-weight:bold;}

.lighter {font-weight:lighter;}

.underline {text-decoration:underline;}

.no_underline {text-decoration:none;}

.clear_margin {margin:0px;}

.hide {display:none;}

.read_more {
	background:url('../images/read_more.png') 0px 0px no-repeat;
	width:93px;
	height:26px;
	float:right;
}


