*{
	padding:0px;
	margin:0px;
	list-style-type:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5B5B5B;
	}
h1,h2,h3,h4,h5,h6,ul,li,p{
	padding:0px;
	margin:0px;
	list-style-type:none;
	}
.close{
	display:none;
	}
.exp{
	display:block;
	}
.Clear{
	clear:both;
	}
/*==============================Head===========================*/
.TopList{
	float:right;
	width:330px;
	height:35px;
	overflow:hidden;
	}
.TopList li{
	float:left;
	}
.TopList a{
	display:block;
	height:35px;
	}
.TopList a.topbar1{
	width:85px;
	background:url(../images/blue/topbar1_1.jpg) no-repeat;
	}
.TopList a.topbar1:hover{
	background:url(../images/blue/topbar1_2.jpg)
	}
.TopList a.topbar2{
	width:88px;
	background:url(../images/blue/topbar2_1.jpg) no-repeat;
	}
.TopList a.topbar2:hover{
	background:url(../images/blue/topbar2_2.jpg) no-repeat;
	}
.TopList a.topbar3{
	width:59px;
	background:url(../images/blue/topbar3_1.jpg) no-repeat;
	}
.TopList a.topbar3:hover{
	background:url(../images/blue/topbar3_2.jpg) no-repeat;
	}
.TopList a.topbar4{
	width:83px;
	background:url(../images/blue/topbar4_1.jpg) no-repeat;
	}
.TopList a.topbar4:hover{
	background:url(../images/blue/topbar4_2.jpg) no-repeat;
	}
.Publish{
	width:103px;
	float:right; 
	margin-right:50px!important;
	margin-right:25px;
	margin-top:10px;
	}
.Namber{
	float:left;
	}
.Namber h1, .Namber h2{
	color:#ECECEC;
	}
.Namber h1{
	color:#FF6;
	font-size:14px;
	margin-left:295px; 
	margin-top:5px;
	}
.Namber h2{
	margin-left:30px;
	}
.Namber h2 a:link, .Namber h2  a:visited{
	color:#FFF;
	text-decoration:underline;
	}
.Namber h2  a:hover{
	color:#FFEA00;
	text-decoration:underline;
	}
.TopName{
	margin-left:109px;
	line-height:25px;
	color:#FFFFFF;
	}
.StageDate{
	width:60px;
	float:left;
	text-align:center;
	line-height:30px;
	height:30px;
	}
.Date{
	color:#0059B6;
	}
.Date p{
	color:#0059B6;
	margin-top:3px;
	}
/* Nav
==========================================================*/
.nav {
	width:755px;
	overflow:hidden;
	margin:0px;
	}
.navleft{
	float:left;
	/*background:url(../images/blue/menu_li_left.gif) no-repeat;*/
	width:3px;
	height:30px;
	margin-left:0px;
	}
.navinner {
	position: relative;
	height:55px;
	width:755px;
	overflow: auto;
	}
.navlist {
	display: block;
	height: 32px;
	width: 2000px;	
	margin: 0;
	list-style: none;
}
.navinner li {
	display: block;
    float: left;
	text-align:center;
	background:url(../images/blue/menu_a2.gif) right 5px no-repeat;
	margin-right:2px;
}
.navinner li a span{
	background:url(../images/blue/menu_a1.gif) 0px 5px no-repeat;
	display: block;
	padding:0px 25px;
}
.navinner li a,.navlist li a:link,.navlist li a:visited {
	display: block;
	line-height:36px;
	height:32px;
	overflow:hidden;
    color: #000;
	font-size: 12px;
	text-decoration:none;
	float:left;
}
.navinner li a:hover {
	font-size: 12px;
    color: #FFF;
    background: url(../images/blue/menu_b2.gif) right 5px no-repeat;
	text-decoration:none;
}
.navinner li a:hover span{
	background: url(../images/blue/menu_b1.gif) 0px 5px no-repeat;
	color: #FFF;
}
.navinner .current a {
	font-size: 12px;
    color: #FFF;
    background: url(../images/blue/menu_b2.gif) right 5px no-repeat;
	text-decoration:none;
}
.navinner .current a span{
	background: url(../images/blue/menu_b1.gif) 0px 5px no-repeat;
	color: #FFF;
}

.navinner li .subnav {
    position: absolute;
    top: 28px;
	clear:both;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
	color:#FFF;
}
.navinner li .subnav a{
	background:url(../images/blue/left_operate.gif) 0px 0px no-repeat;
	padding:0px 10px 0px 0px;
	}
.navinner li .subnav a, .navinner li .subnav a:link, .navinner li .subnav a:visited {
	height: 30px;
    line-height: 30px;
	color: #FFF;
	font-size:12px;
	text-decoration:none;
	float:none;
	display:inline;
	padding:0px 10px 0px 0px;
}
.navinner li .subnav a:hover{
	color: #FFFF00;
    font-weight: normal;
    background: none;
    text-decoration:none;
	font-size:12px;
	float:none;
	display:inline;
	background:url(../images/blue/left_operate.gif) 0px 0px no-repeat;
	padding:0px 10px 0px 0px;
}

/* subnav position and pointer position */
.Light{
	background:url(../images/blue/left_list_bg_a.jpg);
	}
.LeftFont{
	line-height:33px;
	}
.LeftFont a:link, .LeftFont  a:visited{
	font-weight:bold;
	color:#D7EFFF;
	text-decoration:none;
	}
.LeftFont a:hover{
	color:#A8EAFF;
	}
.white1 a:link, .white1 a:visited{
	color:#FFFFFF;
	text-decoration:none;
	}
.white1 a:hover{
	color:#28CAFF;
	text-decoration:underline;
	}
.white1 td{
	color:#FFFFFF;
	}
.RightTop h1{
	font-size:14px;
	color:#025EC0;
	font-family:Verdana;
	margin-right:15px;
	}
.RightTop h2{
	font-size:14px;
	font-family:Verdana;
	}
.RightTop span{
	font-size:11px;
	font-weight:bold;
	}
.RightTop .RedFont span, .RightTop .RedFont{
	color:#FA4C00;
	}
/*satge*/
.stageindex{
	float:left;
	margin-top:5px;
	width:30px;
	height:25px;
	overflow:hidden;
}
.stageindex a,.stageindex a:link,.stageindex a:visited{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/home.gif) center center no-repeat;
	}
.stageindex a:hover{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/home2.gif) center center no-repeat;
	}
.stagenitc{
	float:left;
	margin-top:5px;
	width:30px;
	height:25px;
	overflow:hidden;
}
.stagenitc a,.stagenitc a:link,.stagenitc a:visited{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/nitc01.gif) center center no-repeat;
	}
.stagenitc a:hover{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/nitc02.gif) center center no-repeat;
	}
.stagelevel{
	float:left;
	margin-top:5px;
	width:30px;
	height:25px;
	overflow:hidden;
}
.stagelevel a,.stagelevel a:link,.stagelevel a:visited{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/level.gif) center center no-repeat;
	}
.stagelevel a:hover{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/level2.gif) center center no-repeat;
	}
.stagefresh{
	float:left;
	margin-top:5px;
	width:30px;
	height:25px;
	overflow:hidden;
}
.stagefresh a,.stagefresh a:link,.stagefresh a:visited{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/fresh.gif) center center no-repeat;
	}
.stagefresh a:hover{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/fresh2.gif) center center no-repeat;
	}
.stagecate{
	float:right;
	margin-top:5px;
	width:30px;
	height:25px;
	overflow:hidden;
}
.stagecate a,.stagecate a:link,.stagecate a:visited{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/nav_manager.gif) center center no-repeat;
	}
.stagecate a:hover{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/nav_manager2.gif) center center no-repeat;
	}
.stagecate a:hover{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/nav_manager2.gif) center center no-repeat;
	}
.topic{
	float:right;
	margin-top:5px;
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	}
.topic a{
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/nav_manager2.gif) center center no-repeat;
	}
.Menu{
	width:990px;
	overflow:hidden;
	}
.ScrollMenu{
	width:750px;
	height:55px;
	overflow:hidden;
	margin-left:10px;
	float:left;
	}
.home{
	float:left;
	margin-top:5px;
	display:block;
	width:30px;
	height:25px;
	}
.home a{
	float:left;
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/home2.gif) center center no-repeat;
	}
.level{
	float:left;
	margin-top:5px;
	display:block;
	width:30px;
	height:25px;
	}
.level a{
	float:left;
	display:block;
	width:30px;
	height:25px;
	overflow:hidden;
	background:url(../images/blue/level2.gif) center center no-repeat;
	}
/*==============================Left===========================*/
.BodyLeft{
	width:197px;
	background:url(../images/blue/Left_bg.jpg) repeat-y;;
	}
.BodyLeft .LeftList{
	height:1000px; 
	}
.LeftItem p{
	color:#FFF;
	font-weight:bold;
	margin:0px;
	padding:0px;
	background:url(../images/blue/left_list_bg_small.jpg) 0px bottom no-repeat;
	height:33px;
	line-height:33px;
	cursor:pointer!important;
	cursor:hand;
	text-indent:32px;
	}
.LeftItem .On1{
	background:url(../images/blue/left_list_bg_a1.jpg) no-repeat;
	}
.LeftItem .On2{
	background:url(../images/blue/left_list_bg_a2.jpg) no-repeat;
	}
.LeftItem .On3{
	background:url(../images/blue/left_list_bg_a3.jpg) no-repeat;
	}
.LeftItem .On4{
	background:url(../images/blue/left_list_bg_a4.jpg) no-repeat;
	}
.LeftItem .On5{
	background:url(../images/blue/left_list_bg_a5.jpg) no-repeat;
	}
.LeftItem .On6{
	background:url(../images/blue/left_list_bg_a6.jpg) no-repeat;
	}
.LeftItem .Off1{
	background:url(../images/blue/left_list_bg1.jpg) 0px bottom no-repeat;
	}
.LeftItem .Off2{
	background:url(../images/blue/left_list_bg2.jpg) 0px bottom no-repeat;
	}
.LeftItem .Off3{
	background:url(../images/blue/left_list_bg3.jpg) 0px bottom no-repeat;
	}
.LeftItem .Off4{
	background:url(../images/blue/left_list_bg4.jpg) 0px bottom no-repeat;
	}
.LeftItem .Off5{
	background:url(../images/blue/left_list_bg5.jpg) 0px bottom no-repeat;
	}
.LeftItem .Off6{
	background:url(../images/blue/left_list_bg6.jpg) 0px bottom no-repeat;
	}
.LeftItem p img{
	border:0px;
	float:left;
	margin-right:5px;
	margin-top:8px;
	margin-left:20px;
	}
.LeftItem ul{
	padding-top:10px;
	padding-bottom:15px;
	clear:both;
	background:url(../images/blue/left_list_bg_small.jpg) 0px bottom no-repeat;
	}
.LeftItem li{
	background:url(../images/blue/left_operate.gif) 30px 3px no-repeat;
	height:22px;
	line-height:22px;
	overflow:hidden;
	}
.LeftItem li a:link,.LeftItem li a:visited{
	color:#FFF;
	display:block;
	text-decoration:none;
	text-indent:50px;
	line-height:22px;
	}
.LeftItem li a:hover{
	color:#FFF;	
	text-indent:50px;
	line-height:22px;
	text-decoration:underline;
	}
/*==============================Right===========================*/
.BodyRight{
	}
.BodyRight .HomeTile{
	margin-top:20px;
	margin-left:15px;;
	}
.BodyRight .HomeTile table h1{
	font-weight:bold;
	color:#022850;
	margin-left:10px;
	line-height:23px;
	}
.BodyRight .HomeTile table p{
	width:129px;
	line-height:33px;
	float:left;
	text-indent:10px;
	}
.BodyRight .HomeTile table span{
	width:38px;
	line-height:33px;
	float:right;
	text-align:center;
	margin-right:5px;
	font-weight:bold;
	}
.BodyRight .HomeTile  .M{
	color:#F042A8;
	}
.BodyRight .HomeTile  .Y{
	color:#F88702;
	}
.BodyRight .HomeTile  .B{
	color:#0078FF;
	}
.BodyRight .HomeTile  .G{
	color:#27A400;
	}
.BodyRight .HomeTile  td strong{
	color:#12793B;
	text-decoration:underline;
	}
.BodyRight .HomeTile a:link, .BodyRight .HomeTile a:visited{
	color:#2D629A;
	text-decoration:underline;
	}
.BodyRight .HomeTile a:hover{
	color:#12793B;
	text-decoration:underline;
	}
.line{
	border:#BDC9D6 solid 1px;
	}


.BodyRight .RightDetill{
	width:100%;
	height:37px;
	background:url(../images/blue/body_bg_a.gif) 0px -92px repeat-x;;
	}
.BodyRight  .RightDetill  li{
	float:left;
	line-height:37px;
	padding-left:15px;
	margin-right:30px;
	}
.BodyRight  .RightDetill  li img{
	float:left;
	margin-right:6px;
	margin-top:10px;
	}
.BodyRight  .RightDetill  li input{
	width:152px;
	float:left;
	border: #BDC9D6 solid 1px;
	color:#7C7C7C;
	padding-top:3px; 
	padding-left:3px;
	padding-bottom:3px;
	}
.BodyRight  .RightDetill  .DetillRigh{
	float:right;
	overflow:hidden;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
	}
.BodyRight  .RightDetill  .DetillRigh  img{
	margin:0px;
	padding:0px;
	}
.BodyRight  .RightDetill  .Green  a:link, .BodyRight  .RightDetill  .Green a:visited{
	color:#12793B;
	text-decoration:underline;
	}
.BodyRight  .RightDetill  .Green a:hover{
	color:#2E8E00;
	text-decoration:underline;
	}
.BodyRight  .RightDetill  .SkyBlue  a:link, .BodyRight  .RightDetill  .SkyBlue a:visited{
	color:#007EDD;
	text-decoration:underline;
	}
.BodyRight  .RightDetill  .SkyBlue a:hover{
	color:#1093F6;
	text-decoration:underline;
	}
.BodyRight .PageContent{
	margin:0px auto;
	margin-top:10px;
	padding-left:15px;
	padding-right:15px;
	}
.BodyRight .PageContent .Move{
	height:29px;
	background:url(../images/blue/china.jpg);
	}
.BodyRight .PageContent .Move a:link, .BodyRight .PageContent .Move a:visited{
	color:#022850;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	line-height:29px;
	}
.BodyRight .PageContent .Move a:hover{
	color:#004A98;
	text-decoration:none;
	}
.BodyRight .PageContent .Out{
	height:29px;
	background:url(../images/blue/english.jpg);
	}
.BodyRight .PageContent .Out a:link, .BodyRight .PageContent .Out a:visited{
	color:#5F5F5F;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	line-height:29px;
	}
.BodyRight .PageContent .Out a:hover{
	color:#909090;
	text-decoration:none;
	}
.LineRight{
	border-right:#D9E3F0 solid 1px;
	color:#989898;
	line-height:29px;
	height:29px;
	background:url(../images/blue/blak_bg.jpg);
	}
.BodyRight .PageContent .Font span{
	color:#2D629A;
	}
.LineRightBlue{
	border-right:#BDC9D6 solid 1px;
	border-left:#BDC9D6 solid 1px;
	color:#515151;
	background:url(../images/blue/blak_bg_a.jpg);
	padding-bottom:7px;padding-top:6px;
	}
.LineRightBlue1{
	border-right:#BDC9D6 solid 1px;
	border-left:#BDC9D6 solid 1px;
	border-top:1px solid #BACAD9;
	color:#515151;
	background:url(../images/blue/blak_bg_a.jpg);
	height:38px!important;height:37px;
	}
.button_margin{
	margin-right:10px;
	}
.Form{
	border:#BDC9D6 solid 1px;
	height:20px;
	width:245px;
	line-height:20px;
	text-indent:5px;
	}
.FormSmall{
	border:#BDC9D6 solid 1px;
	padding-left:3px;
	padding-top:5px; padding-bottom:5px;
	}
.Line1{
	border-right:#D9E3F0 solid 1px;
	}
.Line2{
	border-left:#D9E3F0 solid 1px;
	}
.PageContent .ListCategory  span{
	color:#697E95;
	}
.PageContent .ListCategory a:link,.PageContent .ListCategory a:visited{
	color:#2D629A;
	font-size:12px;
	text-decoration:none;
	}
.PageContent .ListCategory a:hover{
	color:#909090;font-size:12px;
	text-decoration:underline;
	}
.PageContent .ListCategory th{
	background-image:url(../images/blue/Category_bg.gif);
	}
.PageContent .ListCategory td{
	border-bottom:1px #D6DFE7 solid;font-size:12px;
	}
.firstalt {
	BACKGROUND-COLOR:#F6F6F6;
	}
.secondalt {
	BACKGROUND-COLOR: #FFFFFF;
	}

.form1{
	height:20px;
	border: #BDC9D6 solid 1px;
	border-right:0px;
	color:#7C7C7C;
	line-height:20px;
	}

.pageNav {padding:3px 0;color:#000000;overflow:hidden;zoom:1;font-size:12px;}
.pageNav .typing{float:right;}
.pageNav input{font-size:10px;font-family:verdana;}
.pageNav a{padding:0px 3px 0px 3px;color:#203558!important; border: solid 1px #849CC6;text-decoration: none!important;}
.pageNav a:hover{background-color:#E5EDF9;color:#203558!important;}
.pageNav span.current {padding:0px 3px 0px 3px;color:#ffffff!important;background-color:#5E90C3!important;border: solid 1px #5E90C3;font-weight:bold;}

input.bginput{color:#2D629A;background:#FFFFFF url(../images/blue/button.jpg) repeat-x;border:1px solid #AABAC3;padding-top:3px;padding-bottom:2px;font-size:14px; font-weight:bold;width:80px;cursor:pointer!important;cursor:hand;overflow:hidden;height:30px;}
.error {background:#fde8e9 url(../images/icon_error.gif) no-repeat 5px 3px;border:1px solid #fac5c8;line-height:14px;padding:3px 20px 2px 25px;font-size:12px;font-family:verdana; color:#E04023; margin-top:2px;}
.success {background:#eff6e4 url(../images/icon_success.gif) no-repeat 5px 3px;border:1px solid #cae2a4;line-height:14px;padding:3px 20px 2px 25px;font-size:12px;font-family:verdana;}
.alert {background:#fffbd1 url(../images/icon_alert.gif) no-repeat 5px 3px;border:1px solid #fddc9b;line-height:14px;padding:3px 20px 2px 25px;font-size:12px;font-family:verdana;}
.quickMiniImgBox{visibility:hidden;position:absolute;left:0;top:0;z-index:301;}
.quickMiniImgBox .iconLayer{height:100%;}
.quickMiniImgBox .iconLayer a{display:block;width:100%;height:100%;text-decoration:none !important;}
.quickMiniImgBox .maskBox{float:left;width:100px;height:100px;border:none;overflow:hidden;background:url(../images/QuickView_Blank.gif) repeat;}
.quickMiniImgBox .dartBox{float:left;width:16px;height:100px;background:url(../images/QuickView_Dart.gif) no-repeat right center;}
.quickInfoBox{visibility:hidden;position:absolute;left:0;top:0;width:125px;height:125px;background-color:#d1e3f5;padding:8px 8px 4px;text-align:center;border:1px solid #adcfea;z-index:300;}
.quickInfoBox .largeImg{width:120px;height:120px;background-color:#ffffff;padding:5px;border:1px solid #4e89c4;}
.quickInfoBox .largeImg a{display:table-cell;width:120px;height:120px;*display:block;vertical-align:middle;outline:none;}
.quickInfoBox .largeImg img{vertical-align:middle;border:0;}
.SeoMeta{
	color:#2A9901;
	font-weight:bold;
	text-decoration:none;
	line-height:18px;
	}


/* Note
==========================================================*/
.note {
    margin: 0 15px 10px;
	color:#666666;
}
.note span{
	float:right;
}
.disable {
    display: none;
}

.panel li {
	width:82px;
	height:64px;
	overflow:hidden;
	float:left;
	line-height:24px;
	margin-left:10px;
	text-align:center;
	}
.panel li a{
	display:block;
	border:1px #f6f6f6 solid;
	}
.panel li a:link,.panel li a:visited{
	text-decoration:none;
	}
.panel li a span{
	width:32px;
	height:36px;
	overflow:hidden;
	margin:0px auto!important;
	margin:none;
	}
.panel li a:hover{
	border:1px #DDD solid;
	text-decoration:none;
	color:#2D629A;
	background:#EFFAFE;
	}
.panel li img{
		margin-top:5px;
	}
.titlepanel{
	border: 1px dashed #FF9900;
	width:280px;
	height:24px;
	overflow:hidden;
	}
.titlepanel input{
	float:left;
	border:0px;
	margin:0px;
	padding:0px;
	margin-left:5px;
	height:22px;
	}
.titlepanel label{
	float:left;
	margin-left:3px;
	margin-right:5px;
	line-height:24px;
	}

.tablelisthead{
	background:url(../images/blue/Category_bg.gif) repeat-x;
	height:30px;
	margin-top:10px;
	}
.tablelisthead li{
	float:left;
	line-height:30px;
	font-weight:bold;
	color:#697e95;
	text-indent:10px;
	}
.tablelist{
	border:1px #d6dfe7 solid;
	border-top:0px;
	border-bottom:0px;
	clear:both;
	}
.tablelist ul{
	border-top:1px #d6dfe7 solid;
	height:25px;
	clear:both;
	background:#FFFFFF;
	}
.tablelist ul:hover{
	border-top:1px #d6dfe7 solid;
	height:25px;
	clear:both;
	background:#FFFDD7;
	}
.tablelist li{
	float:left;
	line-height:25px;
	height:25px;
	color:#5b5b5b;
	text-indent:10px;
	overflow:hidden;
	}
.listimg{
	float:left;
	margin-top:7px;
	margin-left:10px;
	}
.tablelist li a:link,.tablelist li a:visited{
	display:block;
	text-decoration:none;
	}
.tablelist li a:hover{
	text-decoration:underline;
	color:#ff0000;
	}
.listinput{
	width:26px;
	height:14px;
	overflow:hidden;
	text-align:center;
	border:1px #BDC9D6 solid;
	float:left;
	margin-left:10px;
	text-indent:0px;
	margin-top:4px;
	padding:0px;
	font-size:11px;
	color:#999;
	}
.listcheck{
	width:15px;
	height:14px;
	overflow:hidden;
	float:left;
	margin-left:12px;
	text-indent:0px;
	margin-top:6px;
	padding:0px;
	font-size:11px;
	color:#999;
	}
.li_5{
	width:5%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	}
.li_8{
	width:8%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	}
.li_10{
	width:10%;
	overflow:hidden;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_15{
	width:15%;
	overflow:hidden;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_20{
	width:19%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_25{
	width:25%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_27{
	width:26%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_30{
	width:30%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_35{
	width:35%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_40{
	width:40%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.li_20 a,.li_25 a,.li_27 a,.li_30 a,.li_35 a,.li_40 a{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.operation{
	padding-top:2px;
	float:right;
	margin-left:10px;
	}
.operation a:link,.operation a:visited{
	display:block;
	margin:0px;
	width:22px;
	height:20px;
	text-align:center;
	float:left;
	border:1px #FFFFFF solid;
	text-indent:0px;
	}
.operation a:hover{
	border:1px #ff0000 dotted;
	}
.operation span{
	width:22px;
	height:20px;
	margin:0px;
	text-align:center;
	float:left;
	border:1px #FFFFFF solid;
	text-indent:0px;
	}
.operation img{
	padding-top:2px;
	padding-bottom:3px;
	}
.operation1 a:link,.operation1 a:visited{
	display:block;
	margin:0px;
	width:22px;
	height:20px;
	text-align:center;
	float:left;
	border:1px #FFFFFF solid;
	text-indent:0px;
	}
.operation1 a:hover{
	border:1px #ff0000 dotted;
	}
.operation1 img{
	padding-top:2px;
	padding-bottom:3px;
	}
.viewstate a{
	display:block;
	overflow:hidden;
	text-indent:5px;
	}
.viewstate img{
	float:left;
	margin-top:4px;
	padding-left:10px;
	}
.viewsort a{
	display:block;
	text-indent:10px;
	color:#007edd;
	text-decoration:none;
	float:left;
	}
.viewsort img{
	float:left;
	margin-top:10px;
	padding-left:5px;
	}